<header class="site-header">
        <img src="{{ "pics/logo-long.png" | relURL }}" alt="Stephanie's Logo" class="main-logo">
</header>

<section class="info-sidebar">
    <p>I'm an Atlanta based freelance digital designer focused on creating digital experiences that balance usability and emotion. My work draws from research,
    visual storytelling, and systems thinking to create products that feel grounded,
    considered, and human.
    </p>
</section>

<nav class="sticky-nav">
    <div class="nav-content">
        <div class = "header-left" >
            <img src="{{ "pics/logo-long.png" | relURL }}" alt="Mini Logo" id="nav-mini-logo" class="mini-logo">
        <button id="menu-toggle"class="menu-btn">Let's Connect</button>
    </div>
    <div class="nav-links">
        <a href="#" id="grid-btn"class="view-toggle active">Grid</a>
        <a href="#" id="list-btn" class ="view-toggle">List</a>
    </div>

    <div class="contact">
        <a href="mailto:hey@example.com">Start a project <span>&#x21b1;</span></a>
    </div>
</nav>
  <div id="menu-overlay" class="menu-hidden">
    <div class="menu-content">
        <p class="menu-bio">
            I'm a digital designer focused on creating digital experiences — websites, apps, platforms, and everything in between.
        </p>
        <ul class="menu-socials">
            <li><a href="#">LinkedIn <span>&#x21b1;</span></a></li>
            <li><a href="#">Instagram <span>&#x21b1;</span></a></li>
            <li><a href="#">Behance <span>&#x21b1;</span></a></li>
        </ul>
    </div>
</div>
